html,
body {
  margin: 0;
  padding: 0;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka,
    "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  background: #0c0e13;
}

html,
body,
#root,
#root > div {
  height: 100%;
}

a {
  all: unset;
  color: rgb(218, 218, 218);
}

input,
select,
textarea {
  color: whitesmoke !important;
  width: 100px;
}

input[type="text"],
input[type="date"],
input[type="number"],
textarea {
  background-color: rgb(68, 68, 68) !important;
}

::placeholder {
  font-style: italic;
  color: whitesmoke !important;
  opacity: 0.6;
}
